<!doctype html>
{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block extra_title %} - Shopping bag {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4 logo-font text-center">Shopping bag</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless mb-5">
                            <tbody>
                                <tr>
                                    <td class="pt-5 text-center">
                                        <h5><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h5>
                                        <h5>Delivery: ${{ delivery|floatformat:2 }}</h5>
                                        <h3 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h3>
                                        {% if free_delivery_delta > 0 %}
                                            <p class="mb-1 pri-color">
                                                You could get free delivery by spending just <strong class="text-danger">${{ free_delivery_delta }}</strong> more!
                                            </p>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <a href="{% url 'products' %}" class="btn btn-sec rounded-0 btn-lg">
                                            <span class="icon">
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Keep Shopping</span>
                                        </a>
                                        <a href="{% url 'checkout' %}" class="btn btn-pri rounded-0 btn-lg">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="bag-container">
                            <table class="table table-sm table-borderless">
                                <thead class="text-white">
                                    <tr>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Product Info</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                {% for item in bag_items %}
                                    <tr>
                                        <td class="py-3">
                                            <p class="my-0">{{ item.product.price }}</p>
                                        </td>
                                        <td class="py-3">
                                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <button class="decrement-qty btn rounded-0" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                                <span>
                                                                    <i class="fas fa-minus"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <input class="form-control qty_input border-0" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                                        <div class="input-group-append">
                                                            <button class="increment-qty btn rounded-0" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                                <span>
                                                                    <i class="fas fa-plus"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <a class="update-link text-info"><small>Update</small></a>
                                            <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0">{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                        </td>
                                    <td class="py-3">
                                            <p class="my-0">{{ item.product.name }}</p>
                                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                        </td>
                                        <td class="p-3 w-25">
                                            {% if item.product.image %}
                                                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                            {% else %}
                                                <img class="img-fluid rounded" src="{{ MEDIA_URL }}No-Image-Available.png">
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% else %}
                    <p class="lead mb-5"> Shopping bag is empty</p>
                    <a class="btn btn-pri return-button rounded-0 btn-lg" href="{% url 'products' %}"><i class="fas fa-chevron-left"></i> Keep Shopping</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
<script type="text/javascript" src="{% static 'bag/js/bag.js' %}"></script>
<script>var csrfToken = '{{ csrf_token }}';</script>
{% endblock %}