<!doctype html>
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="BackgroundSlideshow">
    <img src="./media/Hat1BG.jpg" alt="HomeBackground_1" class="SlideImage">
    <img src="./media/Hat2BG.jpg" alt="HomeBackground_2" class="SlideImage">
    <img src="./media/Hat3BG.jpg" alt="HomeBackground_3" class="SlideImage">
    <img src="./media/Hat4BG.jpg" alt="HomeBackground_4" class="SlideImage">
</div>
<div class="container">
    <div class="row">
        <div class="col-7 col-md-6 home-promo-position">
            <div class="home-promo-styling">
                <div class="home-promo-text p-3">
                <p class="text-uppercase font-weight-bold p-1">Startup Promotion!</p>
                <p>For 20% off all purchases for limited time use code: <span id="promoCode" class="font-weight-bold">LOVEHAT20</span></p>
                <button class="btn promo-button" id="promoCopy">COPY!</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{block.super }}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}