/*page height definition*/
html {
    height: 100%;
}

/*main body styling*/
body {
    background-color: black;
    height: 100%;
    background-size: cover;
    color: #fafafa;
    font-family: 'Nunito';
}

/* from Bulma (Keeps icons correctly and consistent across the site)*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.fa-plus {
    color: #fafafa;
}

.fa-minus {
    color: #fafafa;
}
/* removes default a tag styles */
a {
    text-decoration: none;
    color: inherit;
}

/* removes default a tag hover styles */
a:hover 
{
     text-decoration: none; 
     cursor: pointer;
     color: inherit;  
}

/*Pushes content down from below the header*/
.header-container { 
    padding-top:164px;
}

/*header background colour change*/
.header-styling {
    background-color: #222222;
}

/*dropdown menu text color change*/
.dropdown-style {
    color:#7c00c3;
}

/*dropdown menu item color change*/
.topnav-icon-style {
    color: #7c00c3;
}

/*dropdown logo text color change*/
.logo-font {
    text-transform: uppercase;
    color: #7c00c3;
}
/*site logo styling*/
.main-logo-nav {
    width: fit-content;
    text-transform: uppercase;
    color: #7c00c3;
    font-weight: 600;
    font-size: 30px;
}

/*Logo hover styling correction*/
.main-logo-nav:hover {
    text-decoration: none;
    cursor: pointer;
    color: #7c00c3;
}

/*Navigation hover styling correction*/
.nav-link:hover {
    text-decoration: none;
    cursor: pointer;
    color: #7c00c3;
    background-color: #222222;
}

/*search box stlying*/
.input-style {
    background-color: #444;
    color: #7c00c3;
}
/*search box button styling*/
.nav-search {
    background-color: black;
}

/*primary button style*/
.btn-pri {
    background-color: #7c00c3;
    color: #fafafa;
    transition: 1s;
}

.btn-pri:hover,
.btn-pri:active {
    background-color: #fafafa;
    color: #7c00c3;
}

/*secondary button style*/
.btn-sec {
    background-color: #000;
    color: #7c00c3;
    transition: 1s;
}

.btn-sec:hover,
.btn-sec:active {
    background-color: #fafafa;
    color: #000;
}

/* Footer positioning (pushes to bottom of page)*/
.content-wrapper {
    min-height: 100%;
}

/* Purple text colour Force */
.pri-color {
    color: #7c00c3;
}

/* Footer Stlying */
.footer {
    background-color: #3c3c3c;
    height: 50px;
    position: relative;
}

/*Footer margin correction*/
.footer-content {
    margin: 0;
    background-color: #111111
}

/*Footer default colour and height*/
.footer-content div {
    height: 50px;
    background-color: #222222;
}

/*footer content stlying and postioning*/
.footer-content div p {
    margin-top: 15px;
    margin-bottom: 0; 
    font-size: 15px;
    font-weight: 600;
}

/*footer interactive content stlying*/
.footer-content div p a {
    text-decoration: none;
    color:#7c00c3;
}

/*footer interactive content active effect*/
.footer-content div p a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fafafa;
    font-weight: 900;
}
/*===========================Toasts===========================*/

.message-container {
    position: fixed;
    top: 150px;
    right: 15px;
    z-index: 1;
}

.toast-header {
    background-color: #7c00c3;
    border: 0;
    color: #fafafa;
}

.toast-body {
    background-color: #222222;
    color: #fafafa;
}

.fa-times {
    color: #fafafa;
    cursor: pointer;
}

.toast-style {
    overflow: visible;
}

.bag-notification-container {
    height: 120px;
    background-color: #111111;
    overflow-x: hidden;
    overflow-y:auto;
}

/*===========================Custom Scrollbar===========================*/

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #fafafa; 
}
 
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #333333; 
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7c00c3; 
}
/*===========================AllAuth===========================*/

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/*===========================Promo copy button styling===========================*/
.allauth-btn {
    background-color: #222222 !important;
    color: #fafafa !important;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: ease-in-out 0.5s;
}

/*Promo copy button hover effect*/
.allauth-btn:hover {
    background-color: #7c00c3 !important;
    color: #fafafa !important;
}

/*===========================Custom Product Form Widget===========================*/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.widget-span {
    background-color: #7c00c3;
    color: #fafafa !important;
    transition: ease-in-out 0.5s;
}

.widget-span:hover {
    background-color: #fafafa;
    color: #7c00c3 !important;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #7c00c3;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #7c00c3;
    border-color: #7c00c3;
    border-radius: 0;
}


/*===========================Media Queries===========================*/

/* larger container for xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}
/*fixed top navbar for medium and higher*/
@media (min-width: 1200px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000
    }

    .footer-content div p{
    margin-top: 11px;
    font-size: 18px;
    font-weight: 600;
}
}

@media (max-width: 1200px) {
    .hide-account {
        display: none;
    }
}

@media (max-width: 550px) {
    .main-logo-nav {
        font-size: 16px;
    }
    .nav-item {
        font-size: 14px;
    }
}

/*Small screen navbar will fit inline*/
@media (max-width: 400px) {
    .fa-lg {
        font-size: 1em !important;
    }
    .list-inline-item .nav-link {
        padding: 0;
    }
    .main-logo-nav{
        font-size: 14px;
    }
}

/*For Galaxy fold phones*/
@media (max-width: 280px) {
    
    .footer-content div p{
    margin-top: 11px;
    font-size: 14px;
    font-weight: 600;
    }
    .fa-lg {
    font-size: 0.8em !important;
    }
    .navbar p {
        font-size: 12px;
    }
    .main-logo-nav{
        font-size: 12px;
    }
    .toast-body {
        font-size: 11px;
    }
}