html {
    height: 100%;
}

body {
    background-color: rgb(48, 48, 48);
    background-size: cover;
    height: calc(100vh - 164px);
    color: rgb(132, 4, 206);
    font-family: 'Lato';
}

/* from Bulma (Keeps icons correctly and consistent across the site)*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/*===========================Media Queries===========================*/

/* larger container for xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}
/*fixed top navbar for medium and higher*/
@media (min-width: 1200px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000
    }
    .header-container{
        padding-top:164px;
    }
}