/*===========================Products Page===========================*/

/* removes border from hover */
.card {
    border: 0;
    margin-bottom: 20px;
}

/* mobile product container colour*/
.card-body {
    background-color: #444444;
}

.card-footer {
    background-color: #444444;
}

/* Bottom product page divider */
.product_divider {
    border-color: #fafafa;
    width: 85%;
    height: 2px;
    margin-top: 50px;
    padding-bottom: 30px;
}

/* image hover description styling */
.product_description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    border-color: #000;
    transition: ease-in-out .5s;
    object-fit: cover;
}

/* image hover effect */
.img__wrap:hover .product_description {
    visibility: visible;
    opacity: 1;
}

/* Product page top scroller colour */
.fa-chevron-circle-up{
    color:#fafafa96;
    transition: .5s ease-in-out;
    cursor: pointer;
}

/* Product page top scroller positioning */
.TopScroller {
	position:fixed;
    bottom: 120px;
    right: -100px;
}

/* Product page top scroller appear animation */
.TaketoTop { 
  animation-name: ScrollerAppear;
  animation-duration: 1.5s; 
  animation-fill-mode: forwards;
  
}

/* Product page top scroller appear animation specifications */
@keyframes ScrollerAppear {
  from {right: -100px;}
  to {right: 50px;}
}

/*===========================Media Queries===========================*/

/* Stops hover effect for tablet size and below */
@media (max-width: 991px) {
    .img__wrap:hover .product_description {
        opacity: 0;
    }
}


/*===========================Products Info Page===========================*/

.img-fluid {
    max-width: 610px;
    padding-right: 10px;
}

.product-title {
    text-align: center;
    padding-bottom: 15px;
}

.product-info {
    background-color: #222222;
    border-color: #222222 !important;
}

/*Return button styling*/
.return-button {
    text-decoration: none;
    background-color:#444444;
    color: #7c00c3;
    font-weight: 600;
    padding: 2px 5px;
    margin-top: 10px;
}

/*Return button hover effect*/
.return-button:hover,
.return-button:focus,
.return-button:active {
    background-color: #7c00c3;
    color: #fafafa;
}

/*===========================Edit/Add Product Page===========================*/

.product-container-style {
    background-color: #222222;
}

.product-style-hr {
    border-color: #7c00c3;
}

/*===========================Media Queries===========================*/

/* Stops hover effect for tablet size and below */
@media (max-width: 991px) {
    .return-button {
        position: unset;
    }
    .img-container {
        margin-bottom: 20px;
    }
    @keyframes ScrollerAppear {
        from {right: -100px;}
        to {right: 20px;}
    }
    .fa-4x {
        font-size: 2.5em!important;
    }
}
