/*===========================Products Page===========================*/

/* removes border from hover */
.card {
    border: 0;
    margin-bottom: 20px;
}

.product_divider {
    border-color: #fafafa;
    width: 85%;
    height: 2px;
    margin-top: 50px;
    padding-bottom: 30px;
}

/* image hover description styling */
.product_description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    border-color: #000;
    transition: ease-in-out .5s;
    object-fit: cover;
}

/* image hover effect */
.img__wrap:hover .product_description {
    visibility: visible;
    opacity: 1;
}

/*===========================Media Queries===========================*/

/* Stops hover effect for tablet size and below */
@media (max-width: 991px) {
    .img__wrap:hover .product_description {
        opacity: 0;
    }
}


/*===========================Products Info Page===========================*/

.img-fluid {
    max-width: 610px;
    padding-right: 10px;
}

.product-title {
    text-align: center;
    padding-bottom: 15px;
}

.product-info {
    background-color: #333333;
    border-color: #333333 !important;
}

/*Return button styling*/
.return-button {
    text-decoration: none;
    background-color:#444444;
    color: #7c00c3;
    font-weight: 600;
    padding: 2px 5px;
    margin-top: 10px;
    position: absolute;
    bottom: 15px;
    right: 25px;
}

/*Return button hover effect*/
.return-button:hover,
.return-button:focus,
.return-button:active {
    background-color: #7c00c3;
    color: #fafafa;
}

/*===========================Media Queries===========================*/

/* Stops hover effect for tablet size and below */
@media (max-width: 991px) {
    .return-button {
        position: unset;
    }
    .img-container {
        margin-bottom: 20px;
    }
}
