<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="beanies-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beanies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">All Beanies</a>
                <a href="" class="dropdown-item ">Traditional</a>
                <a href="" class="dropdown-item ">Cuffed</a>
                <a href="" class="dropdown-item">Long</a>
                <a href="" class="dropdown-item ">Trapper</a>
                <a href="" class="dropdown-item">Pom</a>
                <a href="" class="dropdown-item ">Price Order</a>
                <a href="" class="dropdown-item">Rating Order</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">All Hats</a>
                <a href="" class="dropdown-item">Fedora</a>
                <a href="" class="dropdown-item">Tribly</a>
                <a href="" class="dropdown-item">Bowler</a>
                <a href="" class="dropdown-item">Straw</a>
                <a href="" class="dropdown-item">Price Order</a>
                <a href="" class="dropdown-item">Rating Order</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="caps-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Caps
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">All Caps</a>
                <a href="" class="dropdown-item">Snapback</a>
                <a href="" class="dropdown-item">Flexfit</a>
                <a href="" class="dropdown-item">Fitted</a>
                <a href="" class="dropdown-item">Adjustable</a>
                <a href="" class="dropdown-item">Flat Caps</a>
                <a href="" class="dropdown-item">Price Order</a>
                <a href="" class="dropdown-item">Rating Order</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#">About</a>
        </li>
    </ul>
</div>