<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="beanies-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beanies
            </a>
            <div class="dropdown-menu border-0 header-styling" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item dropdown-style">All Beanies</a>
                <a href="" class="dropdown-item dropdown-style">Traditional</a>
                <a href="" class="dropdown-item dropdown-style">Cuffed</a>
                <a href="" class="dropdown-item dropdown-style">Long</a>
                <a href="" class="dropdown-item dropdown-style">Trapper</a>
                <a href="" class="dropdown-item dropdown-style">Pom</a>
                <a href="" class="dropdown-item dropdown-style">Price Order</a>
                <a href="" class="dropdown-item dropdown-style">Rating Order</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="hats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hats
            </a>
            <div class="dropdown-menu border-0 header-styling " aria-labelledby="clothing-link">
                <a href="" class="dropdown-item dropdown-style">All Hats</a>
                <a href="" class="dropdown-item dropdown-style">Fedora</a>
                <a href="" class="dropdown-item dropdown-style">Tribly</a>
                <a href="" class="dropdown-item dropdown-style">Bowler</a>
                <a href="" class="dropdown-item dropdown-style">Straw</a>
                <a href="" class="dropdown-item dropdown-style">Price Order</a>
                <a href="" class="dropdown-item dropdown-style">Rating Order</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="caps-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Caps
            </a>
            <div class="dropdown-menu border-0 header-styling" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item dropdown-style">All Caps</a>
                <a href="" class="dropdown-item dropdown-style">Snapback</a>
                <a href="" class="dropdown-item dropdown-style">Flexfit</a>
                <a href="" class="dropdown-item dropdown-style">Fitted</a>
                <a href="" class="dropdown-item dropdown-style">Adjustable</a>
                <a href="" class="dropdown-item dropdown-style">Flat Caps</a>
                <a href="" class="dropdown-item dropdown-style">Price Order</a>
                <a href="" class="dropdown-item dropdown-style">Rating Order</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#">About</a>
        </li>
    </ul>
</div>