<!doctype html>
<li class="list-inline-item">
    <div class="col-12 col-lg-4 my-auto py-1 ly-lg-0 text-center d-lg-none">
        <a href="{% url 'home' %}" class="main-logo-nav nav-link">The Mad Hatter</a>
    </div>
</li>
<li class="list-inline-item">
    <a  href="{% url 'view_bag' %}" class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none topnav-icon-style">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                {% else %}
                    $0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>