/*Homepage background slide image styling*/
.SlideImage { 
    position: fixed;
    top: 140px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000045;
    object-fit: cover;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/*===========================Media Queries===========================*/

/*Homepage Background positioning medium screen*/
@media (max-width: 991px) {
    .SlideImage {
        top: 84px;
    }
}

/*Homepage Background positioning small screen*/
@media (max-width: 400px) {
    .SlideImage {
        top: 68px;
    }
}

/*For Galaxy fold phones*/
@media (max-width: 280px) {
    .SlideImage {
        top: 60px;
    }
}