<!doctype html>
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Products</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="product-container col-10 offset-1">
                    <div class="row mt-1 mb-2">
                        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                            <div class="sort-select-wrapper w-50">
                                <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 order-md-first">
                            <p class="text-muted mt-3 text-center text-md-left">
                                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in products %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-2">
                                <div class="card img__wrap">
                                    {% if product.image %}
                                    <a class="" href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                        <div class="product_description">
                                            <h5>{{ product.name }}</h5>
                                            {% if product.category %}
                                                <p class="mb-0">{{ product.category.friendly_name }}</p>
                                            {% endif %}
                                            <div class="row">
                                                <div class="col text-right">
                                                    <p class="mb-0 font-weight-bold">${{ product.price }}</p>
                                                {% if product.rating %}
                                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }}/5</small>
                                                {% else %}
                                                    <small class="text-muted">No Rating</small>
                                                {% endif %}
                                                {% if request.user.is_superuser %}
                                                    <small class="ml-3">
                                                        <a href="{% url 'edit_product' product.id %}">Edit</a>
                                                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                    </small>
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{% static 'media/No-Image-Available.png'%}" alt="{{ product.name }}">
                                        <div class="product_description">
                                            <h2>{{ product.name }}</h2>
                                            <div class="row">
                                                <div class="col text-right">
                                                    <p class="lead mb-0 font-weight-bold">${{ product.price }}</p>
                                                {% if product.rating %}
                                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating}}/5</small>
                                                {% else %}
                                                    <small class="text-muted">No Rating</small>
                                                {% endif %}
                                                {% if request.user.is_superuser %}
                                                    <small class="ml-3">
                                                        <a href="{% url 'edit_product' product.id %}">Edit</a>
                                                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                    </small>
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    {% endif %}
                                    <div class="card-body pb-0 d-lg-none">
                                        <p class="mb-0 text-center">{{ product.name}}</p>
                                    </div>
                                    <div class="card-footer bg-white pt-0 border-0 text-right d-lg-none">
                                        <div class="row">
                                            <div class="col">
                                                <p class="lead mb-0 font-weight-bold">${{ product.price }}</p>
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating}}/5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a>
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        <hr class="product_divider">
        </div>
    </div>
    <div onclick="TakeToTop()" id="Scroller" class="TopScroller">
        <i class="fas fa-chevron-circle-up fa-4x"></i>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/products.js' %}"></script>
{% endblock %}